.App {
  text-align: center;
}

.content {
  width: 80%;
  background-color: white;
  min-height: 88vh;
  margin: auto;
  border-radius: 20px;
}

.footer {
  background-color: wheat;
  border-top:2px solid saddlebrown;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 25px;
}

.App-header {
}

.notification-wrapper {
  position: fixed;
  top: 65px;
  right: 10px;
  width: 300px;
}


.notification-item {
  padding: 5px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.4);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 300px;
  animation: SlideLeft 0.5s;
  animation-fill-mode: forwards;
}

@keyframes SlideLeft {
  0% {
    margin-left: 120%;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes SlideRight {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 120%;
  }
}

.notification-item.exit {
  animation: SlideRight 0.5s;
  animation-fill-mode: forwards;
}

.notification-item p {
  margin: 0;
  padding: 10px;
}

.notification-item .bar {
  height: 10px;
}

.notification-item.success {
  background-color: green;
  color: white;
}

.notification-item.error {
  background-color: #d81515;
  color: white;
}

.notification-item.success .bar {
  background-color: white;
}

.notification-item.error .bar {
  background-color: white;
}
