.App {
  text-align: center;
}

.content {
  width: 80%;
  background-color: white;
  min-height: 88vh;
  margin: auto;
  border-radius: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.footer {
  background-color: wheat;
  border-top:2px solid saddlebrown;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 25px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
